KAFKA_CONSUMER_APP_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="eidos" password="eidos-pass";
REST_CONSUMER_PASSWORD=eidos
REST_PRODUCER_PASSWORD=eidos-pass