REST_HOSTNAME=https://dart.prod.dart.worldmodelers.com
REST_USERNAME=eidos
REST_PASSWORD=eidos-pass
KAFKA_BOOTSRAP_SERVER=dart.prod.dart.worldmodelers.com:9093
KAFKA_CONSUMER_APP_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="eidos" password="eidos-pass";
