<configuration>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="eidos" class="ch.qos.logback.core.FileAppender">
        <param name="Append" value="true" />
        <file>${HOSTNAME}-eidos.log</file>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="timer" class="ch.qos.logback.core.FileAppender">
        <param name="Append" value="true" />
        <file>${HOSTNAME}-timer.log</file>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.clulab.wm.eidos.utils.Timer" level="all" additivity="true">
        <appender-ref ref="timer" />
    </logger>

    <!-- ALL TRACE DEBUG INFO WARN ERROR FATAL OFF -->
    <root level="all">
        <appender-ref ref="console"/>
        <appender-ref ref="eidos"/>
    </root>
</configuration>