body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
}

table, th,td {
    border: 1px solid black;
    font-size: inherit;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
    color: #2471A3;
}

input[type="text"] {
    font-size: inherit;
    height: 50px;
    width: 800px;
}