<html>

<head>
<title>World Modelers Visualizer</title>
<link rel="stylesheet" type="text/css" href="assets/brat/static/style-vis.css"/>
<script type="text/javascript" src="assets/brat/client/lib/head.load.min.js"></script>
<script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/javascripts/main.js"></script>
</head>

<body>
    <p> <b> World Modelers -- Eidos Visualizer </b> </p>
    
    <form>
        <input type="text" name="sent" style="font-size:10pt;height:50px;width:800px;">
        <input type="submit">
    </form>


    <div id="agroMentions"></div>

    <div class="add-info">
        <span id="groundedAdj"></span> </span>
    </div>

    <div id="syntax"></div>

</body>
</html>
